button {
    background-color: #bedade;
    margin: 1px;
}
body {
    background-color: rgba(3, 40, 33, 0.94);
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.logo {
    color: #38a96d;
    font-size: 20px;
}

.dropdown-toggle {
    color: #38a96d;
    background-color: rgba(3, 40, 33, 0.94);
    font-size: 20px;
}